---
title: Projects
---
<h1>Developing with Design</h1>

<div class="row-container row-center">
  {% for projects in site.projects %}
  <div class="column-container card">
    {% if projects.image %}
    <a href="{{ projects.link }}" target="_blank">
      <img src="{{ projects.image }}" alt="{{ projects.name | downcase }}">
    </a>
    {% endif %}
    <div class="row-container">
      <a href="{{ projects.link }}" target="_blank">{{ projects.name }}</a>
      <!-- <div class="column-right-align"> -->
        <a href="{{ projects.credit-link }}" target="_blank" class="credit" >{{ projects.credit-name }}</a>
      <!-- </div> -->
    </div>
  </div>
  {% endfor %}
</div>

