/*****************************/
/**********Main***************/
/*****************************/

* {
    font-family: arial;
}
body {
    display: flex;
    flex-flow: column nowrap;
    min-height: 100vh;
    margin: 0;
    background-color: #EDDEC1;
    background-attachment: fixed;
    overflow-x: hidden;
}
img {
    justify-content: center;
    width: 100vw;
    height: auto;
}

/*Container*/
.container {
    position: relative;
    top: -100px;
    flex: 1 0 auto;
    padding: 2em;
    margin: 2em;
    list-style: none;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-self: center;
    align-items: center;
    border-top: 20px solid #C6623D;
    background-color: white;
}

/*Items within container*/
.item {
    text-align: center;
    align-items: center;
    margin: 10px 10px;
    padding: 10px 10px;
    display: flex;
    flex-flow: row wrap;
}

.item-left {
    text-align: right;
    margin: 5px 10px 5px 0px;
    width: 200px;
    align-self:flex-start;
}

.item-centered-vert {
    align-self: center;
}

.item-right {
    text-align: left;
    margin: 5px 0px 5px 2px;
    align-self:flex-start;
}

/*****************************/
/*******Title & Description***/
/*****************************/

#title {
    margin: 0;
    color: #353E47;
    text-align: center;
    font-family: 'Jolly Lodger', cursive;
    font-size: 60px;
}

#description {
    margin: .5em;
    text-align: center;
    font-size: 11pt;
}

/*****************************/
/*******Form IDs**************/
/*****************************/

#survey-form {
    font-size: 12pt;
}

#name {

}

#email {

}

#number {

}

#dropdown {
    padding: .83em;
}

/*****************************/
/*******Other Items***********/
/*****************************/

ul {
    padding: 0px;
    margin: 0px;
}

ul li {
    list-style: none;
    padding-bottom: 10px;
}

input {
    padding: .83em;
}

textarea {
    min-width: 300px;
    min-height: 100px;
    padding: .83em;
}

#submit-btn-container {
    justify-content: center;
}

#submit-btn {
    border-radius: 4px;
    border: 0px solid;
    padding: 10px 20px;
    font-size: 12pt;
    background-color: #C6623D;
    color: whitesmoke;
}

#submit-btn:hover {
    background-color: #AD411A;
    color: white;
}

/*****************************/
/*******Site Author***********/
/*****************************/

.site-author {
    font-size: 12px;
    color: silver;
}
